<section class="to-do-list">
<h1>{{title}}</h1>
  <mat-form-field class="full-width" >
    <mat-label>List Item</mat-label>
    <input matInput placeholder="List item {{listItem.length + 1}}" [(ngModel)]="nameModel" name="item" id="item" #name="ngModel">
    <div class="button-row">
      <button mat-raised-button (click)="addItem()">Ekle</button>
      </div>
  </mat-form-field>

  
  <mat-selection-list #list [(ngModel)]="selected" (ngModelChange)="onNgModelChange(selected,item = $event)">
    
    <mat-list-option togglePosition="before" *ngFor="let item of listItem"  class="list-item " [value]="item" >
      {{item.name}}
      <span (click)="deleteItem($event, item)">X</span>
    </mat-list-option>
  </mat-selection-list>

  

  <p>Number of Products: {{listItem.length}}</p>
  <p>
    Item selected: {{list.selectedOptions.selected.length}}
    
  </p>
  
  

</section>